:css
  .document-row+.document-row {
    margin-top: 50px;
  }

.row{:style => 'margin-top: 50px;'}
  - categories.each do |category|
    .col-sm-12.document-row
      %fieldset
        %legend= category
        = render :partial => 'category_documents', :locals => {:category => category}

:javascript

  $(document).ready(function() {

  });
