= form_tag library_categories_path, :id => 'search_form', :method => 'get', :class => '', :role => 'search' do
  .form-group
    %label.sr-only{:for => 'search-text'}
    .input-group
      = text_field_tag :search_text, nil, :value => @search_text, :autocomplete => 'off', :class => 'form-control input-lg', :placeholder => 'Name/Description...', :id => 'search_text'
      .input-group-btn
        = button_tag :type => 'submit', :class => 'btn btn-primary btn-lg' do
          %i.fa.fa-search
