.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
  .page-header
    .row
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
        %h2 Document Library
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
        - if can? :create, LibraryCategory
          = link_to new_library_category_path, :class => "btn btn-lg btn-primary pull-right" do
            %i.fa.fa-plus.fa-fw
            = " Add Library Category";

  .row
    .col-sm-12
      = render 'search_form'

  .row
    .col-sm-12
      - if @categories.empty?
        %p No matching categories found
      - else
        = render :partial => 'index_table', :locals => {:categories => @categories}
